<div id="content">
	<sa-widgets-grid>
		<sa-widget>
			<div class="row">
				<article class="mb-md">
					<button (click)="startCall($event)" [disabled]="!_endCall" class="btn btn-success btn-lg">
						<i class="fa fa-phone" aria-hidden="true"></i>&nbsp;
						<span *ngIf="_endCall"> Answer </span>
						 <span *ngIf="!_endCall" tooltip="Hold or Hangup to Answer another call"> Call in Progress <i class="fa fa-refresh fa-spin"></i> </span>
					</button>
					<button (click)="(null)" class="btn btn-primary btn-lg">
						<i class="fa fa-pause-circle-o" aria-hidden="true"></i>
							Hold
					</button>
					<button (click)="endCall($event)" [disabled]="_endCall" class="btn btn-danger btn-lg">Hang up</button>
					<span *ngIf="startRecording == true" class="animated fadeInDownBig mar-md"> <strong> Call Started : <span class="text-success"> {{startCallTime | date:'medium'}} </span>					</strong>
					</span>
					<span *ngIf="endRecording == true" class="animated fadeInUpBig mar-md"> <strong> Call Ended : <span class="text-danger"> {{endCallTime | date:'medium'}} </span>					</strong>
					</span>
					<span *ngIf="endRecording == true" class="animated fadeInDownBig mar-md"> <strong> Call Duration : <span class="text-info"> {{minutes}}&nbsp;Mins&nbsp;{{seconds}}&nbsp;Sec </span>					</strong>
					</span>
				</article>
			</div>
		</sa-widget>
		<div class="row">
			<article class="col-sm-6">
				<!-- <onCall-wizard></onCall-wizard> -->
				<sa-widget [editbutton]="false" [deletebutton]="false">
					<header>
						<h2> Search Patients </h2>
					</header>

					<!-- widget div-->
					<div>

						<!-- widget content -->
						<div class="widget-body fuelux">
							<fuel-ux-wizard (complete)="onWizardComplete($event)">
								<div class="wizard">
									<div class="steps-container">
										<ul class="steps">
											<li data-step="1" class="active">
												<span class="badge badge-info">1</span>List<span class="chevron"></span>
											</li>
											<li data-step="2">
												<span class="badge">2</span>Step 2<span class="chevron"></span>
											</li>
											<li data-step="3">
												<span class="badge">3</span>Step 3<span class="chevron"></span>
											</li>
											<li data-step="4">
												<span class="badge">4</span>Step 4<span class="chevron"></span>
											</li>
											<li data-step="5">
												<span class="badge">5</span>Step 5<span class="chevron"></span>
											</li>
										</ul>
									</div>
									<div class="actions">
										<button type="button" class="btn btn-sm btn-primary btn-prev">
											<i class="fa fa-arrow-left"></i>Prev
										</button>
										<button type="button" class="btn btn-sm btn-success btn-next" data-last="Finish">
											Next<i class="fa fa-arrow-right"></i>
										</button>
									</div>
								</div>
								<div class="step-content">
									<form class="form-horizontal">
										<div class="step-pane active" data-step="1" style="min-height: 254px;">
											<h3><strong>Step 1 </strong> - Search Patients </h3>
											<!-- wizard form starts here -->
											<!-- [multiple]="true" -->
											<!-- <ng-select
													[multiple]="true"
													[items]="items"
													(data)="refreshValue($event)"
													(selected)="selected($event)"
													(typed)="typed($event)"
													placeholder="Start typing name">
											</ng-select><br><br> -->

											<input type="text" class="form-control" placeholder="search (e.g Firstname)" [(ngModel)]="form.searchStr" (keyup)="displayResults()"
											 (blur)="showsearchResults = false" name="searchStr">
											<br>
											<label class="btn btn-primary pull-right" (click)="addPatientsList()"><i class="fa fa-plus"></i> Add New Patient
											</label>
											<br><br>
											<article class="col-sm-12 no-padding">
												<div class="table-responsive mt-md" [ngStyle]="{'display': form.display}" *ngIf="form.searchObjects.length > 0">
													<table class="table table-striped table-hover" [mfData]="form.searchObjects" #mf="mfDataTable" [mfRowsOnPage]="10">
														<thead>
															<tr>
																<th>
																	<mfDefaultSorter by="first_name"> </mfDefaultSorter>
																</th>
																<th>
																	<mfDefaultSorter by="first_name">First Name</mfDefaultSorter>
																</th>
																<th>
																	<mfDefaultSorter by="last_name">Last Name</mfDefaultSorter>
																</th>
																<th class="text-center">
																	<mfDefaultSorter by="dob">Birthdate</mfDefaultSorter>
																</th>
															</tr>
														</thead>
														<tbody>
															<tr *ngFor="let item of mf.data" (click)="loadMetrics(item.home_phone)">
																<td><img src="{{item.img_url}}" class="source_img"></td>
																<td>{{item.first_name}}</td>
																<td>{{item.last_name}}</td>
																<td class="text-center">{{item.dob | date:'shortDate'}}</td>
															</tr>
														</tbody>
														<tfoot>
															<tr>
																<td colspan="6">
																	<mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]"></mfBootstrapPaginator>
																</td>
															</tr>
														</tfoot>
													</table>
												</div>
											</article>
										</div>
										<div class="step-pane" data-step="2">
											<h3><strong>Step 2 </strong> - Applications</h3>

											<ul class="step2" style="list-style: none; text-align: center;">
												<li>Application 1 </li>
												<li>Application 2 </li>
												<li>Application 3 </li>
												<li>Application 4 </li>
												<li>Application 5 </li>
											</ul>
										</div>

										<div class="step-pane" data-step="3">
											<h3><strong>Step 3 </strong> - Wizard continued</h3>
											<br>
											<br>

											<h1 class="text-center text-primary"> This will be your Step 3 </h1>
											<br>
											<br>
											<br>
											<br>
										</div>

										<div class="step-pane" data-step="4">
											<h3><strong>Step 4 </strong> - Wizard continued...</h3>
											<br>
											<br>

											<h1 class="text-center text-danger"> This will be your Step 4 </h1>
											<br>
											<br>
											<br>
											<br>
										</div>

										<div class="step-pane" data-step="5">
											<h3><strong>Step 5 </strong> - Finished!</h3>
											<br>
											<br>

											<h1 class="text-center text-success"><i class="fa fa-check"></i> Congratulations!
												<br>
												<small>Click finish to end wizard</small>
											</h1>
											<br>
											<br>
											<br>
											<br>
										</div>

									</form>
								</div>
							</fuel-ux-wizard>
						</div>
					</div>
				</sa-widget>
			</article>
			<article class="col-sm-6" *ngIf="!loadmetrics && !addPatients">
				<sa-widget>
					<header>
						<h2> Patient Details </h2>
					</header>
					<div class="row">
						<form class="form-horizontal">
							<div class="col-sm-6 mb-md">
								<div class="form-group">
									<label class="col-sm-4 control-label">First Name:</label>
									<div class="col-sm-8">
										<input class="form-control" type="text" readonly>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Address 1:</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input class="form-control" type="text">
											<span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Address 2:</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input class="form-control" type="text">
											<span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Gender:</label>
									<div class="col-sm-8">
										<input class="form-control" type="text" readonly>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Phone Number:</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input class="form-control" type="number">
											<span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-4 control-label">Email:</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input class="form-control" type="text">
											<span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Preferred Contact:</label>
									<div class="col-sm-8">
										<select class="col-sm-12">
														<option>Phone</option>
														<option>Email</option>
														<option>Mail</option>
												</select>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-4 control-label">Last Name:</label>
									<div class="col-sm-8">
										<input class="form-control" type="text" readonly>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Birthdate:</label>
									<div class="col-sm-8">
										<input class="form-control" type="text" readonly>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">City/St:</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input class="form-control" type="text">
											<span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Zip:</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input class="form-control" type="text">
											<span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4"></div>
									<div class="col-sm-8">
										<button class="btn btn-primary col-sm-12" type="submit"> Save </button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</sa-widget>
			</article>
			<article class="col-sm-6" *ngIf="loadmetrics && !addPatients">
				<sa-widget [editbutton]="false" [deletebutton]="false">
					<header>
						<h2> Patient Details </h2>
					</header>
					<div class="row">
						<form class="form-horizontal" #PatientDataForm="ngForm" (ngSubmit)="onSavePatientData()">
							<div class="col-sm-6 mb-md">
								<div class="form-group">
									<label class="col-sm-4 control-label">First Name:</label>
									<div class="col-sm-8">
										<input class="form-control" id="focusedInput" type="text" value="{{individualDetails.first_name}}" readonly>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Address 1:</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input class="form-control" id="focusedInput" type="text" placeholder="{{individualDetails.address1}}">
											<span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Address 2:</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input class="form-control" id="focusedInput" type="text" placeholder="{{individualDetails.address2}}">
											<span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Gender:</label>
									<div class="col-sm-8">
										<input class="form-control" id="focusedInput" type="text" value="{{individualDetails.gender}}" readonly>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Phone Number:</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input class="form-control" type="number" max="10" #phoneNumber="ngModel" id="phoneNumber" [(ngModel)]="form.phoneNumber"
											 name="phoneNumber" placeholder="{{individualDetails.home_phone}}">
											<span class="input-group-addon pontr_crsr" (click)="showPhoneFields()"><i class="glyphicon glyphicon-plus"></i></span>
										</div>
										<div *ngIf="phoneNumber.errors && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger animated shake">
											Please enter phone number
										</div>
									</div>
								</div>
								<div class="form-group" *ngIf="phoneFields == true">
									<label class="col-sm-4 control-label">Home Phone:</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input class="form-control" type="number">
											<span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group" *ngIf="phoneFields == true">
									<label class="col-sm-4 control-label">Mobile Phone:</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input class="form-control" type="number">
											<span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group" *ngIf="phoneFields == true">
									<label class="col-sm-4 control-label">Work Phone:</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input class="form-control" type="number">
											<span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Email:</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input class="form-control" type="text" #email="ngModel" id="email" [(ngModel)]="form.email" name="email" placeholder="{{individualDetails.email}}">
											<span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
										</div>
										<div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger animated shake">
											Please enter email id
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Preferred Contact:</label>
									<div class="col-sm-8">
										<select class="col-sm-12">
													<option>Phone ({{individualDetails.home_phone}})</option>
													<option>Email ({{individualDetails.email}}) </option>
													<option>Mail</option>
											</select>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-4 control-label">Last Name:</label>
									<div class="col-sm-8">
										<input class="form-control" id="focusedInput" type="text" value="{{individualDetails.last_name}}" readonly>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Birthdate:</label>
									<div class="col-sm-8">
										<input class="form-control" id="focusedInput" type="text" value="{{individualDetails.dob | date: 'dd/MM/yyyy'}}" readonly>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">City/St:</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input class="form-control" id="focusedInput" type="text" placeholder="{{individualDetails.city}}, {{individualDetails.state}}">
											<span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Zip:</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input class="form-control" id="focusedInput" type="text" placeholder="{{individualDetails.zip}}">
											<span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4"></div>
									<div class="col-sm-8">
										<button class="btn btn-primary col-sm-12" type="submit"> Save </button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</sa-widget>
			</article>
			<article class="col-sm-6 animated fadeInUp" *ngIf="addPatients && !loadmetrics">
				<sa-widget>
					<header>
						<h2> Add New Patient </h2>
					</header>
					<div class="row">
						<form class="form-horizontal">
							<div class="col-sm-6 mb-md">
								<div class="form-group">
									<label class="col-sm-4 control-label">First Name:</label>
									<div class="col-sm-8">
										<input class="form-control" type="text">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Address 1:</label>
									<div class="col-sm-8">
										<input class="form-control" type="text">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Address 2:</label>
									<div class="col-sm-8">
										<input class="form-control" type="text">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Gender:</label>
									<div class="col-sm-8">
										<input class="form-control" type="text">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Phone Number:</label>
									<div class="col-sm-8">
										<input class="form-control" type="number">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Email:</label>
									<div class="col-sm-8">
										<input class="form-control" type="text">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Preferred Contact:</label>
									<div class="col-sm-8">
										<select class="col-sm-12">
											<option>Phone</option>
											<option>Email</option>
											<option>Mail</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-4 control-label">Last Name:</label>
									<div class="col-sm-8">
										<input class="form-control" type="text">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Birthdate:</label>
									<div class="col-sm-8">
										<input class="form-control" type="text">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">City/St:</label>
									<div class="col-sm-8">
										<input class="form-control" type="text">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Zip:</label>
									<div class="col-sm-8">
										<input class="form-control" type="text">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4"></div>
									<div class="col-sm-8">
										<button class="btn btn-primary col-sm-12" type="submit"> Save </button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</sa-widget>
			</article>

			<article class="col-sm-6">
				<sa-widget>
					<header>
						<ul id="widget-tab-1" class="nav nav-tabs">
							<li class="active">
								<a data-toggle="tab" href="#callDisposition"> Call Disposition </a>
							</li>
							<li>
								<a data-toggle="tab" href="#callHistory"> Call History
									<div class="badge bg-color-blue">
										5
									</div>
								</a>
							</li>
						</ul>
					</header>
					<div>
						<div class="widget-body no-padding">
							<div class="tab-content padding-10">
								<div class="tab-pane fade in active" id="callDisposition">
									<span class="asc-text-primary">Call Status </span>
									<span class="btn-grp" dropdown>
										<button type="button" class="btn btn-secondary dropdown-toggle" dropdownToggle>
											{{selectedItem}} <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li role="menuitem" *ngFor='let obj of callStatusData'>
												<a class="dropdown-item" (click)="showStatus(obj.status)">
																{{obj.status}}
															</a>
											</li>
										</ul>
									</span>
									<span class="asc-text-primary">Call Outcomes </span>
									<span class="btn-grp" dropdown>
										<button type="button" class="btn btn-secondary dropdown-toggle" dropdownToggle>
											{{selectedOutCome}} <span class="caret"></span>
										</button>
										<ul class="dropdown-menu scroll_bar" role="menu">
											<li role="menuitem" *ngFor='let item of callOutComesData'>
												<a class="dropdown-item" (click)="showOutCome(item.outcome_desc)">
													{{item.outcome_desc}}
												</a>
											</li>
										</ul>
									</span>
								</div>
								<div class="tab-pane fade" id="callHistory">
									<p class="lead">Name: <strong> Ascension </strong> | Age: <strong> 20 years </strong></p>
									<div class="table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>Date</th>
													<th>Call Start</th>
													<th>Call End</th>
													<th>Duration</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Aug 16, 2017</td>
													<td>11:30:05 AM</td>
													<td>11:45:05 AM</td>
													<td>15 Mins</td>
												</tr>
												<tr>
													<td>Aug 11, 2017</td>
													<td>3:00:00 PM</td>
													<td>3:17:00 PM</td>
													<td>17 Mins</td>
												</tr>
												<tr>
													<td>July 29, 2017</td>
													<td>9:30:45 AM</td>
													<td>10:00:05 AM</td>
													<td>30 Mins</td>
												</tr>
												<tr>
													<td>July 17, 2017</td>
													<td>4:45:51 PM</td>
													<td>5:05:12 PM</td>
													<td>20 Mins</td>
												</tr>
												<tr>
													<td>June 16, 2017</td>
													<td>2:30:05 PM</td>
													<td>3:15:05 AM</td>
													<td>45 Mins</td>
												</tr>
											</tbody>
										</table>

									</div>
								</div>
							</div>
							<div class="widget-footer text-right">
								<button type="submit" class="col-md-2 btn btn-success pull-right" (click)="saveNotes()">Save</button>
							</div>
						</div>
					</div>
				</sa-widget>
			</article>
		</div>
	</sa-widgets-grid>
</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title pull-left">Confirmation</h4>
				<button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="lead">
					<span class="text-success text-center"> <strong> Data Updated </strong> </span>
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default pull-right" (click)="hideChildModal()">
						Close
				</button>
			</div>
		</div>
	</div>
</div>