<div id="content">
  <sa-widgets-grid>
    <sa-widget>
      <div class="row">
        <article class="mb-md">
          <button (click)="startCall()" class="btn btn-success btn-lg">
            <i class="fa fa-phone" aria-hidden="true"></i>
              Answer
          </button>
          <button (click)="(null)" class="btn btn-primary btn-lg">
            <i class="fa fa-pause-circle-o" aria-hidden="true"></i>
              Hold
          </button>
          <button (click)="endCall()" [disabled]="!startLoad" class="btn btn-danger btn-lg">Hang up</button>
            <!-- <button (click)="getCallDuration()" [disabled]="!startLoad" class="btn btn-danger btn-lg">Total Duration</button> -->
             <span *ngIf="startLoad == true" class="animated fadeInDownBig mar-md"> <strong> Call Started : <span class="text-success"> {{startCallTime | date:'medium'}} </span> </strong> </span>
            <span *ngIf="endLoad == true" class="animated fadeInUpBig"> <strong> Call Ended : <span class="text-danger"> {{endCallTime | date:'medium'}} </span> </strong> </span>
            <!-- <p *ngIf="endLoad == true"> Total Duration : {{totalMinutes}}:{{totalSeconds}}</p> -->
        </article>
      </div>
    </sa-widget>
    <div class="row">
      <article class="col-sm-6">
        <!-- <onCall-wizard></onCall-wizard> -->
        <sa-widget [editbutton]="false" [deletebutton]="false">
          <header>
            <h2> Search Patients </h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget content -->
            <div class="widget-body fuelux">
              <fuel-ux-wizard (complete)="onWizardComplete($event)">
                <div class="wizard">
                  <div class="steps-container">
                    <ul class="steps">
                      <li data-step="1" class="active">
                        <span class="badge badge-info">1</span>List<span class="chevron"></span>
                      </li>
                      <li data-step="2">
                        <span class="badge">2</span>Step 2<span class="chevron"></span>
                      </li>
                      <li data-step="3">
                        <span class="badge">3</span>Step 3<span class="chevron"></span>
                      </li>
                      <li data-step="4">
                        <span class="badge">4</span>Step 4<span class="chevron"></span>
                      </li>
                      <li data-step="5">
                        <span class="badge">5</span>Step 5<span class="chevron"></span>
                      </li>
                    </ul>
                  </div>
                  <div class="actions">
                    <button type="button" class="btn btn-sm btn-primary btn-prev">
                      <i class="fa fa-arrow-left"></i>Prev
                    </button>
                    <button type="button" class="btn btn-sm btn-success btn-next" data-last="Finish">
                      Next<i class="fa fa-arrow-right"></i>
                    </button>
                  </div>
                </div>
                <div class="step-content">
                  <form class="form-horizontal">

                    <div class="step-pane active" data-step="1">
                      <h3><strong>Step 1 </strong> - Search Patients</h3>

                      <!-- wizard form starts here -->
                      <ng-select
                          [items]="items"
                          (data)="refreshValue($event)"
                          (selected)="selected($event)"
                          (typed)="typed($event)"
                          placeholder="Start typing name">
                      </ng-select><br><br>
                    </div>

                    <div class="step-pane" data-step="2">
                      <h3><strong>Step 2 </strong> - Applications</h3>

                        <ul class="step2" style="list-style: none; text-align: center;">
                          <li>Application 1 </li>
                          <li>Application 2 </li>
                          <li>Application 3 </li>
                          <li>Application 4 </li>
                          <li>Application 5 </li>
                          <li>Application 6 </li>
                          <li>Application 7 </li>
                        </ul>
                    </div>

                    <div class="step-pane" data-step="3">
                      <h3><strong>Step 3 </strong> - Wizard continued</h3>
                      <br>
                      <br>

                      <h1 class="text-center text-primary"> This will be your Step 3 </h1>
                      <br>
                      <br>
                      <br>
                      <br>
                    </div>

                    <div class="step-pane" data-step="4">
                      <h3><strong>Step 4 </strong> - Wizard continued...</h3>
                      <br>
                      <br>

                      <h1 class="text-center text-danger"> This will be your Step 4 </h1>
                      <br>
                      <br>
                      <br>
                      <br>
                    </div>

                    <div class="step-pane" data-step="5">
                      <h3><strong>Step 5 </strong> - Finished!</h3>
                      <br>
                      <br>

                      <h1 class="text-center text-success"><i class="fa fa-check"></i> Congratulations!
                        <br>
                        <small>Click finish to end wizard</small>
                      </h1>
                      <br>
                      <br>
                      <br>
                      <br>
                    </div>

                  </form>
                </div>
              </fuel-ux-wizard>
            </div>
            <!-- end widget content -->

          </div>
          <!-- end widget div -->

        </sa-widget>

      </article>
      <article class="col-sm-6 animated fadeInUp" *ngIf="value.text">
        <sa-widget [editbutton]="false" [deletebutton]="false">
          <header>
            <h2> Patient Details </h2>
          </header>
          <div class="row">
            <div class="col-sm-6 mb-md">
              <!-- <strong>First Name: </strong> {{value.text}}  <br> -->
              <strong>First Name: </strong> {{patientName.given}}  <br>
              <strong>Last Name: </strong> {{patientName.family}} <br>
              <strong>Birthdate: </strong> {{patientData.birthDate}} <strong> &nbsp; Age: </strong>98 <br>
              <strong>Gender: </strong> {{patientData.gender}} <br>
              <strong>Phone Number: </strong>{{patientTelecom.value}} <br>
              <strong>Preferred Contact: </strong> 
                <select>
                  <option>Phone ({{patientTelecom.value}})</option>
                  <option>Email ({{patientEmail.value}}) </option>
                  <option>Mail</option>
                </select>   
              <br>
              <strong>Preferred Phone: </strong> Preferred Phone <br>
            </div>
            <div class="col-sm-6 mb-md">
              <strong>Address 1:</strong> {{patientAddress.line}} <br>
              <!-- <strong>Address 2: </strong> Address 2 <br> -->
              <strong>City/St/Zip: </strong> {{patientAddress.city}} {{patientAddress.state}} {{patientAddress.postalCode}}, {{patientAddress.country}}<br>
              <strong>Provider Name: </strong> Frierson-Stroud, Lenor B MD <br>
            </div>
          </div>
        </sa-widget>
      </article>
      <article class="col-sm-6">
        <div class="well well-sm">
            <h3 class="asc-text-primary">Notes: </h3>
            <div class="bs-example">
                <textarea style="min-height: 200px; width: 100%; padding: 10px" placeholder="Patient details can be updated and save the data "></textarea>
                <button type="submit" class="col-md-2 btn btn-success pull-right" (click)="saveNotes()">Save</button>
            </div>
        </div>
      </article>

      <article class="col-sm-6">
        <sa-widget>
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>

            <h2>Call History</h2>
          </header>
          <div>
            <div class="widget-body">
              <p class="lead">Name: <strong> Ascension </strong> | Age: <strong> 20 years </strong></p>

              <div class="table-responsive">

                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Date</th>
                    <th>Call Start</th>
                    <th>Call End</th>
                    <th>Duration</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Aug 16, 2017</td>
                    <td>11:30:05 AM</td>
                    <td>11:45:05 AM</td>
                    <td>15 Mins</td>
                  </tr>
                  <tr>
                    <td>Aug 11, 2017</td>
                    <td>3:00:00 PM</td>
                    <td>3:17:00 PM</td>
                    <td>17 Mins</td>
                  </tr>
                  <tr>
                    <td>July 29, 2017</td>
                    <td>9:30:45 AM</td>
                    <td>10:00:05 AM</td>
                    <td>30 Mins</td>
                  </tr>
                  <tr>
                    <td>July 17, 2017</td>
                    <td>4:45:51 PM</td>
                    <td>5:05:12 PM</td>
                    <td>20 Mins</td>
                  </tr>
                  <tr>
                    <td>June 16, 2017</td>
                    <td>2:30:05 PM</td>
                    <td>3:15:05 AM</td>
                    <td>45 Mins</td>
                  </tr>
                  </tbody>
                </table>

              </div>

            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Confirmation</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">
          <span class="text-success text-center"> <strong> Data Updated </strong> </span>
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-right" (click)="hideChildModal()">
            Close
        </button>
      </div>
    </div>
  </div>
</div>
